*,
*::before,
*::after {
  box-sizing: border-box;
}
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
    margin: 0 auto;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    margin: 0 auto;
  }

  @media screen and (min-width: 1280px) {
    width: 1200px;
    margin: 0 auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
  display: block;
}

.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
  display: block;
}
body {
  color: black;
  font-family: 'DM Sans';
}
