$main-font: 'DM Sans';
$title-font: 'Titan One';

$main-color: #ffffff;
$prymary-text-color: #000000;
$secondary-text-color: #d41443;
$add-text-color: #907e82;
$light-color: #ffa5ba;
$header-section-color: #ffb8ca;
$modal-color: #e17992;
$light-section-color: #fff5f6;
$green-color: #c2e297;
$brown-color: #f0d1a5;
$custumers-color: #fafafa;
$first-hover-color: #ecebeb;
$secondary-hover-color: #c7133e;
