<section class="section advantages-section" id="advant">
  <div class="container advantages-container">
    <h2 class="advantages-title visually-hidden">advantages</h2>
    <ul class="advantages-list list">
      <li class="advantages-item">
        <p class="advantages-item__text">
          <span class="advantages-item__accent">721</span>Aliquam ac dui vel dui vulputate
          consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item">
        <p class="advantages-item__text">
          <span class="advantages-item__accent">16kg</span>Aliquam ac dui vel dui vulputate
          consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-item">
        <p class="advantages-item__text">
          <span class="advantages-item__accent">84</span>Aliquam ac dui vel dui vulputate
          consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
