<section class="section section-contacts" id="contact">
    <div class="container container-contacts">
        <h2 class="contacts-title visually-hidden">Our addresses</h2>
        <ul class="contacts-list">
            <li class="list contacts-list__item">
                <div class="contacts-list__info">
                <p class="contacts-list__name">
                    CAFE
                </p>
                    <h3 class="contacts-list__titel">
                        Chicago
                    </h3>
                    <p class="contacts-list__after-titel">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                    </p>
                    </div>
                <ul class="conteiner-list-timetable">
                    <li class="list conteiner-list-timetable__item">
                        <p class="conteiner-list-timetable__title">
                            Monday - Friday
                        </p>
                        <p class="conteiner-list-timetable__after-title">
                            06:00 AM - 10:00 PM
                        </p>
                    </li>
                    <li class="list conteiner-list-timetable__item">
                        <p class="conteiner-list-timetable__title">
                            Saturday - Sunday
                        </p>
                        <p class="conteiner-list-timetable__after-title">
                            08:00 AM - 16:00 PM
                        </p>
                    </li>
                </ul>
                    <ul class="conteiner-list-contacts">
                        <li class="list conteiner-list-contacts__item">
                            <a class="link conteiner-list-contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                        </li>
                        <li class="list conteiner-list-contacts__item">
                            <a class="link conteiner-list-contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
            </li>
            <li class="list contacts-list__item">
                <div class="contacts-list__info">
                <p class="contacts-list__name dop-name">
                    FOOD TRUCK
                </p>
                    <h3 class="contacts-list__titel">
                        Los Angeles
                    </h3>
                    <p class="contacts-list__after-titel">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                    </p>
                    </div>
                <ul class="conteiner-list-timetable">
                    <li class="list conteiner-list-timetable__item">
                        <p class="conteiner-list-timetable__title">
                            Monday - Friday
                        </p>
                        <p class="conteiner-list-timetable__after-title">
                            06:00 AM - 10:00 PM
                        </p>
                    </li>
                    <li class="list conteiner-list-timetable__item">
                        <p class="conteiner-list-timetable__title">
                            Saturday - Sunday
                        </p>
                        <p class="conteiner-list-timetable__after-title">
                            08:00 AM - 16:00 PM
                        </p>
                    </li>
                </ul>
                <ul class="conteiner-list-contacts">
                    <li class="list conteiner-list-contacts__item">
                        <a class="link conteiner-list-contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    </li>
                    <li class="list conteiner-list-contacts__item">
                        <a class="link conteiner-list-contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
            <li class="list contacts-list__item">
                <div class="contacts-list__info">
                <p class="contacts-list__name">
                    CAFE
                </p>
                    <h3 class="contacts-list__titel">
                        New York
                    </h3>
                    <p class="contacts-list__after-titel">
                        Fusce ut velit laoreet, tempus arcu molestie vulputate
                    </p>
                    </div>
                <ul class="conteiner-list-timetable">
                    <li class="list conteiner-list-timetable__item">
                        <p class="conteiner-list-timetable__title">
                            Monday - Friday
                        </p>
                        <p class="conteiner-list-timetable__after-title">
                            06:00 AM - 10:00 PM
                        </p>
                    </li>
                    <li class="list conteiner-list-timetable__item">
                        <p class="conteiner-list-timetable__title">
                            Saturday - Sunday
                        </p>
                        <p class="conteiner-list-timetable__after-title">
                            08:00 AM - 16:00 PM
                        </p>
                    </li>
                </ul>
                <ul class="conteiner-list-contacts">
                    <li class="list conteiner-list-contacts__item">
                       <a class="link conteiner-list-contacts__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a> 
                    </li>
                    <li class="list conteiner-list-contacts__item">
                        <a class="link conteiner-list-contacts__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="contacts-btn-list">
            <li class="list contacts-btn-list__item">
                <a href="https://goo.gl/maps/db5C2TxEhpqATzwy5" rel="noopener nofollow noreferrer" target="_blank"  class="contacts-btn-list__button contacts-btn-list__btn-red">
                    Our Locations
                    <svg class="button-vector-red" width="10" height="12">
                        <use href="./images/sprite.svg#icon-header-btn">
                        </use>
                    </svg>
                </a>
            </li>
            <li class="list contacts-btn-list__item">
                <a href="https://www.google.com/maps/search/ice+cream+/@40.6396239,-73.9840449,15z/data=!3m1!4b1" rel="noopener nofollow noreferrer" target="_blank"  class="contacts-btn-list__button contacts-btn-list__btn-white">
                    Franchise
                    <svg class="button-vector-white" width="10" height="12">
                        <use href="./images/sprite.svg#icon-header-btn">
                        </use>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</section>