
<section class="customers">
    <div class="container">
        <h2 class="visually-hidden">Customers reviews</h2>
        <div class="all">
            <input checked type="radio" name="respond" id="desktop">
            <article id="sliderr">
                <input checked type="radio" name="slider" id="switch1">
                <input type="radio" name="slider" id="switch2">
                <input type="radio" name="slider" id="switch3">

                <div id="slides">
                    <div id="overflow">
                        <div class="image">
                            <article>
                                <div class="slider">
                                    <img class="customers-review__image" src="./images/customer-review/1girl1x.png" srcset="./images/customer-review/1girl1x.png 1x, ./images/customer-review/1girl2x.png 2x"   alt="Customer photo" />
                                    <div class="cust-text">
                                        <p class="desc">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                                        nulla quam nunc, accumsan
                                        congue. Lorem ipsum primis in nibh vel risus.</p>
                                        </div>
                                    <img class="customers-review__icon" src="./images/customer-review/dots.svg"  alt="Customer photo" />
                                    <p class="the-customer">Emily, Los Angeles</p>
                                </div>
                            </article>
                            <article>
                                <div class="slider">
                                    <img class="customers-review__image" src="./images/customer-review/cara1x.png" srcset="./images/customer-review/cara1x.png 1x, ./images/customer-review/cara2x.png 2x"  alt="Customer photo" />
                                    <div class="cust-text">
                                    <p class="desc">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                                        nulla quam nunc, accumsan
                                        congue. Lorem ipsum primis in nibh vel risus.</p>
                                        </div>
                                    <img class="customers-review__icon" src="./images/customer-review/dots.svg"  alt="Customer photo" />
                                    <p class="the-customer">Kara, London</p>
                                </div>
                            </article>
                            <article>
                                <div class="slider">
                                    <img class="customers-review__image" src="./images/customer-review/3girl1x.png" srcset="./images/customer-review/3girl1x.png 1x, ./images/customer-review/3girl2x.png 2x" alt="Customer photo" />
                                    <div class="cust-text">
                                    <p class="desc">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit
                                        nulla quam nunc, accumsan
                                        congue. Lorem ipsum primis in nibh vel risus.</p>
                                       </div>
                                    <img class="customers-review__icon" src="./images/customer-review/dots.svg"  alt="Customer photo" />
                                    <p class="the-customer">Tatiana, Moscow</p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div id="controls">
                    <label class="lab" for="switch1"></label>
                    <label class="lab" for="switch2"></label>
                    <label class="lab" for="switch3"></label>
                </div>
                <div id="active">
                    <label class="lab" for="switch1"></label>
                    <label class="lab" for="switch2"></label>
                    <label class="lab" for="switch3"></label>
                </div>
            </article>
        </div>

    </div>
</section>
