
    <section class="customers-review">
        <div class="container">
        <h2 class="visually-hidden">Customers reviews</h2>
        <div class="customers-review__container">
            <ul class="swiper-wrapper">
                <li class="swiper-slide customer-item">
                    <div class="thumb" ><img class="customers-review__image" src="./images/customer-review/emily.png"  alt="girl" width="85px" /></div>
                    <p class="customers-review__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </li>
                <li class="swiper-slide">
                    <div class="thumb">
                        <img class="customers-review__image" src="./images/customer-review/ebony.png" width="85px"  alt="Customer ebony"/>
                    </div>
                    <p class="customers-review__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </li>
                <li class="swiper-slide">
                    <div class="thumb"><img class="customers-review__image" src="./images/customer-review/girlinglasses.png" alt="girl in glasses" width="85px"  /></div>
                    <p class="customers-review__text">
                        Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                    </p>
                </li>
            </ul>
        </div>
        </div>
    </section>

    <!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script src="../swiper.js"></script> -->
