<section class="customers-review">
    <h2 class="visually-hidden">Customers reviews</h2>
    <div class="customers-review__container">
        <div class="swiper-wrapper">
            <div class="swiper-slide customer-item">
                <div class="thumb">
                    <img class="customers-review__image" src="./images/customer-review/emily.png" width="85" alt="" />
                </div>
                <p class="customers-review__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                    quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>
            <div class="swiper-slide">
                <div class="thumb">
                    <img class="customers-review__image" src="./images/customer-review/girlinglasses.png" width="85"
                        alt="Customer photo" />
                </div>
                <p class="customers-review__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                    quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>
            <div class="swiper-slide">
                <div class="thumb">
                    <img class="customers-review__image" src="./images/customer-review/ebony.png" width="85"
                        alt="Customer photo" />
                </div>
                <p class="customers-review__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla
                    quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                </p>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

<!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <script src="../swiper.js"></script> -->