<footer class="footer">
    <div class="footer__section">
         <div class="footer__text">
             <p>HOMEMADE ICECREAM MADE<br><span>WITH PASSION</span></br></p>
        </div>

            <div class="footer__link">
                <ul>
                    <li>
                        <a  class="footer__logo--link" href="https://github.com" target="_blank" rel="noopener noreferrer">
                            <svg class="footer__link--logo" width="20" height="20">
                                <use href="./images/sprite.svg#icon-git"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="footer__logo--link" href="https://telegram.com" target="_blank" rel="noopener noreferrer">
                            <svg class="footer__link--logo" width="20" height="20">
                                <use href="./images/sprite.svg#icon-telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a class="footer__logo--link" href="https://facebook.com" target="_blank" rel="noopener noreferrer">
                            <svg class="footer__link--logo" width="20" height="20">
                                <use href="./images/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
             </div>
    </div>
</footer>