<section class="section-gallery" id="gallery">
  <div class="container">
    <picture>
      <source
        srcset="
          ./images/gallery/desktop_gallery_1x.jpg 1x,
          ./images/gallery/desktop_gallery_2x.jpg 2x
        "
        media="(min-width:1800px)"
      />
      <source
        srcset="
          ./images/gallery/tablet_gallery_1x.jpg 1x,
          ./images/gallery/tablet_gallery_2x.jpg 2x
        "
        media="(min-width:768px)"
      />
      <source
        srcset="
          ./images/gallery/mobile_gallery_1x.jpg 1x,
          ./images/gallery/mobile_gallery_2x.jpg 2x
        "
        media="(min-width:480px)"
      />
      <img src="./images/gallery/mobile_gallery_1x.jpg" alt="gallery-picture" width="100%" />
    </picture>
  </div>
</section>
