<section class="section-gallery">
  <div class="container gallery-container">
    <ul class="gallery">
      <li class="gallery__content"><img class="gallery__img" srcset="./images/gallery/1x1.jpg 1x, ./images/gallery/1x2.jpg 2x" src="./images/gallery/1x1.jpg" alt="img"></li>
      <li class="gallery__content"> <img class="gallery__img" srcset="./images/gallery/2x1.jpg 1x, ./images/gallery/2x2.jpg 2x" src="./images/gallery/2x1.jpg" alt="img"> </li>
      <li class="gallery__content"><img class="gallery__img"  srcset="./images/gallery/3x1.jpg 1x, ./images/gallery/3x2.jpg 2x"src="./images/gallery/3x1.jpg" alt="img"> </li>
      <li class="gallery__content"> <img class="gallery__img" srcset="./images/gallery/4x1.jpg 1x, ./images/gallery/4x2.jpg 2x" src="./images/gallery/4x1.jpg" alt="img"></li>
      <li class="gallery__content"><img class="gallery__img" srcset="./images/gallery/5x1.jpg 1x, ./images/gallery/5x2.jpg 2x" src="./images/gallery/5x1.jpg" alt="img"> </li>
      <li class="gallery__content"> <img class="gallery__img" srcset="./images/gallery/6x1.jpg 1x, ./images/gallery/6x2.jpg 2x" src="./images/gallery/6x1.jpg " alt="img"></li>
      <li class="gallery__content"> <img class="gallery__img"  srcset="./images/gallery/7x1.jpg 1x, ./images/gallery/7x2.jpg 2x"src="./images/gallery/7x1.jpg" alt="img"></li>
      <li class="gallery__content"><img class="gallery__img" srcset="./images/gallery/8x1.jpg 1x, ./images/gallery/8x2.jpg 2x" src="./images/gallery/8x1.jpg" alt="img"> </li>
      <li class="gallery__content"><img class="gallery__img" srcset="./images/gallery/9x1.jpg 1x, ./images/gallery/9x2.jpg 2x" src="./images/gallery/9x1.jpg" alt="img"> </li>
      <li class="gallery__content"><img class="gallery__img" srcset="./images/gallery/10x1.jpg 1x, ./images/gallery/10x2.jpg 2x" src="./images/gallery/10x1.jpg" alt="img"> </li>

    </ul>
  </div>
</section>
