<header class="header">
  <div class="container">
    <div class="header-container">
      <a class="logo" href="index.html"
        ><img src="./images/header/logo.svg" width="199" height="50" alt="site logo"
      /></a>
      <nav class="header-nav">
        <ul class="nav-menu list">
          <li class="nav-menu__item">
            <a class="nav-menu__link link current" href="./index.html">Home</a>
          </li>
          <li class="nav-menu__item">
            <a class="nav-menu__link link" href="#about">About us</a>
          </li>
          <li class="nav-menu__item">
            <a class="nav-menu__link link" href="#advant">How it's made?</a>
          </li>
          <li class="nav-menu__item">
            <a class="nav-menu__link link" href="#product">Our products</a>
          </li>
          <li class="nav-menu__item">
            <a class="nav-menu__link link" href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
      <button class="header__btn">
        Buy now<svg class="header-icon" width="4" height="8">
          <use href="./images/sprite.svg#icon-header-btn"></use>
        </svg>
      </button>
    </div>
    <!-- ===============MOBILE-MENU==================== -->
    <button class="burger-btn" data-menu-open is-open>
      <svg class="burger-btn-icon" width="20" height="12">
        <use href="./images/sprite.svg#icon-burger"></use>
      </svg>
    </button>

    <div class="mob-menu" data-menu>
      <button class="mob-menu__close-btn" data-menu-close type="button">
        <svg width="40" height="40">
          <use class="mob-menu__icon-close" href="./images/sprite.svg#icon-close-button"></use>
        </svg>
      </button>
      <button class="mob__btn">
        Buy now<svg class="header-icon" width="4" height="8">
          <use href="./images/sprite.svg#icon-header-btn"></use>
        </svg>
      </button>
      <nav class="mob-menu__nav">
        <ul class="mob-menu__list mob-menu__nav">
          <li class="mob-menu__item list">
            <a class="mob-menu__link mob-menu__link-current" href="./index.html">Home </a>
          </li>
          <li class="mob-menu__item list">
            <a href="#about" class="mob-menu__link" >About us</a>
          </li>
          <li class="mob-menu__item list">
            <a class="mob-menu__link" href="#advant">How it’s made?</a>
          </li>
          <li class="mob-menu__item list">
            <a class="mob-menu__link" href="#product">Our products</a>
          </li>
          <li class="mob-menu__item list">
            <a class="mob-menu__link" href="#contactr">Contact</a>
          </li>
        </ul>

      </nav>
    </div>
    <section class="hero">
      <h1 class="hero-title">ice cream made with<span>passion</span></h1>
      <div class="hero-btn">
        <form action="#product">
          <button class="hero-btn-left">Products</button>
        </form>
        <form action="#about">
          <button class="hero-btn-right">How it's made?</button>
        </form>
      </div>
      <div class="hero-round">
        <a class="hero-round__ice" href="#"
          ><img class="hero-round__ice__image" src="./images/header/ice.png" alt="ice"
        /></a>
      </div>
      <ul class="hero-text list">
        <li class="hero-item"><span>16</span></li>
        <li class="hero-item"><span>21</span></li>
      </ul>
      <a class="hero-milk" href=""
        ><img class="hero-milk_image" src="./images/header/milk.png" alt="milk"
      /></a>
      <a class="hero-girl" href=""
        ><img class="hero-girl_image" img src="./images/header/girl.png" alt="girl"
      /></a>
      <p class="hero-quote">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <a class="hero-icon" href=""
        ><img class="hero-icon_image" src="./images/header/icon-hero.png" alt="milk"
      /></a>
    </section>
  </div>
  </div>
</header>

