<header class="header">
  <div class="container">
  <div class=" header-container ">
    <a class="logo" href="index.html"
      ><img src="./images/header/logo.svg" width="199px" height="50px" alt="site logo"
    /></a>
    <nav class="header-nav">
      <ul class="nav-menu list">
        <li class="nav-menu__item">
          <a class="nav-menu__link link current" href="./index.html">Home</a>
        </li>
        <li class="nav-menu__item">
          <a class="nav-menu__link link" href="./index.html">About us</a>
        </li>
        <li class="nav-menu__item">
          <a class="nav-menu__link link" href="./index.html">How it's made?</a>
        </li>
        <li class="nav-menu__item">
          <a class="nav-menu__link link" href="./index.html">Our products</a>
        </li>
        <li class="nav-menu__item">
          <a class="nav-menu__link link" href="./index.html">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="header__btn">Buy now</button>
  </div>
  
  <section class="hero">
    
    <h1 class="hero-title">ice cream made with<span>passion</span></h1>
    <div class="hero-btn">
    <button class="hero-btn-left"><a href="#products.html"></a>Products</a></button>
    <button class="hero-btn-right"><a href="#"></a>How it's made?</button>
    </div>
    <div class="hero-round" >
            <a class="hero-round__ice" href="#"><img src="./images/header/ice.png" alt="ice" /></a>
    </div>
    <ul class="hero-text list">
      <li><span class="hero-item">16</span></li>
      <li><span class="hero-item">21</span></li>
    </ul>
    <a class="hero-milk" href=""><img src="./images/header/milk.png" alt="milk" /></a>
    <a class="hero-girl" href=""><img src="./images/header/girl.png" alt="girl" /></a>
    <p class="hero-quote" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    </div>
  </section>
  </div>
</header>
