<section class="section product-section">
  <div class="container product-container">
    <p class="product__pre-title">100% natural</p>
    <h2 class="product__title">products</h2>
    <ul class="list product-list">
      <li class="product-item">
        <h3 class="product-item__title">ice cream</h3>
        <p class="product-item__text">
          Lorem ipsum dol or sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
      </li>
      <li class="product-item">
        <h3 class="product-item__title">ice cream</h3>
        <p class="product-item__text">
          Lorem ipsum dol or sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
      </li>
      <li class="product-item">
        <h3 class="product-item__title">ice cream</h3>
        <p class="product-item__text">
          Lorem ipsum dol or sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
      </li>
    </ul>
  </div>
</section>
