.slider {
  max-width: 480px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 768px;
  }
}
.customers-review__image {
  margin: 0 auto;
  width: 85px;
}
.desc {
  background-image: repeating-linear-gradient(0deg, #e1e1e1 0.001px 1px, transparent 1px 31px);
}
.cust-text {
  position: relative;
  display: block;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 43px 66px 26px 57px;
  z-index: 1;
  background: $custumers-color;

  @media screen and (min-width: 320px) {
    width: 280px;
  }
  @media screen and (min-width: 768px) {
    width: 620px;
    padding: 47px 80px 34px 80px;
    font-weight: 500;
    font-size: 14px;
    line-height: 2.16;
    margin-left: -57px;
  }
  @media screen and (min-width: 1280px) {
    width: 926px;
    padding: 47px 89px 39px 87px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.68;
    margin-left: -220px;
    letter-spacing: 0.04em;
  }
  &::after {
    content: '';
    background: url(../images/customer-review/coma.svg);
    position: absolute;
    width: 54px;
    height: 40px;
    top: 27px;
    left: 61px;
    z-index: -1;
    @media screen and (min-width: 768px) {
      top: 30px;
      left: 40px;
    }
    @media screen and (min-width: 1280px) {
      top: 32px;
      left: 50px;
    }
  }
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  text-align: center;
  z-index: 22;
}
.customers-review__icon {
  margin: 0 auto;
  width: 32px;
}
.the-customer {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.8;
  text-align: center;
  margin: 18px auto 30px auto;
}
#slider {
  position: relative;
  text-align: center;
  top: 10px;

  margin: 0 auto;
}
#slides .themain {
  width: 20%;
  float: left;
}
#slides .image {
  width: 500%;
  line-height: 0;
}
#overflow {
  width: 100%;
  overflow: hidden;
}
.themain .slider {
  width: 100%;
}
#desktop:checked ~ #sliders {
  max-width: 960px;
}

.lab,
a {
  cursor: pointer;
}
.all input {
  display: none;
}
#switch1:checked ~ #slides .image {
  margin-left: 0;
}
#switch2:checked ~ #slides .image {
  margin-left: -100%;
}
#switch3:checked ~ #slides .image {
  margin-left: -200%;
}
#controls {
  margin: -25% 0 0 0;
  width: 100%;
  height: 50px;
}
#active .lab {
  border-radius: 10px;
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #d9d9d9;
}
#active {
  margin: 125px 0 0 0;
  text-align: center;
  @media screen and (min-width: 1280px) {
    margin: 245px 0 0 0;
  }
}
#active .lab:hover {
  background-color: $secondary-hover-color;
}
#switch1:checked ~ #active .lab:nth-child(1),
#switch2:checked ~ #active .lab:nth-child(2),
#switch3:checked ~ #active .lab:nth-child(3) {
  background: url(../images/customer-review/house.svg);
  background-repeat: no-repeat;
}
#slides .image {
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
}
#controls .lab:hover {
  opacity: 0.6;
}
