

  @media screen and (min-width: 320px) {
    display: flex;
    margin-top: 90px;
  }
  @media screen and (min-width: 480px) {
    display: flex;
    margin-top: 113px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    margin-top: 158px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    margin-top: 175px;
  }
}
.footer__link--list {
  display: flex;
  justify-content: flex-end;
}
.footer__link--li {
  margin-right: 24px;
}
.footer__link {
  @media screen and (min-width: 320px) {
    display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 480px) {
    display: flex;
    flex-direction: column;
  }
}
.footer__text {
  @media screen and (min-width: 320px) {
    margin-bottom: 33px;
    margin-left: 20px;
  }
  @media screen and (min-width: 480px) {
    margin-bottom: 43px;
  }
}
.footer__logo--link {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-color: $modal-color;
  border-bottom: 1px solid #e1e1e1;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $secondary-text-color;
  }
  &:active {
    background-color: $secondary-text-color;
  }
  &:focus {
    background-color: $secondary-text-color;
  }
  @media screen and (min-width: 320px) {
    margin-bottom: 35px;
  }
  @media screen and (min-width: 480px) {
    margin-bottom: 46px;
  }
}

.footer__text--paragraf {
  font-family: $title-font;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: $light-color;
  @media screen and (min-width: 320px) {
    font-size: 18px;
    line-height: calc(21 / 18);
    max-width: 232px;
    margin-bottom: 17px;
  }
  @media screen and (min-width: 480px) {
    font-size: 18px;
    line-height: calc(21 / 18);
    max-width: 232px;
    margin-bottom: 17px;
  }
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: calc(30 / 26);
    max-width: 340px;
    margin-bottom: 16px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 30px;
    line-height: calc(34 / 30);
    max-width: 472px;
  }
}
.footer__text--span {
  font-family: $title-font;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $secondary-text-color;
  @media screen and (min-width: 320px) {
    font-size: 34px;
    line-height: calc(39 / 34);
    width: 234px;
  }
  @media screen and (min-width: 480px) {
    font-size: 34px;
    line-height: calc(39 / 34);
    width: 234px;
  }
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: calc(55 / 48);
    width: 340px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: calc(66 / 58);
    min-width: 474px;
  }
}
// .footer__section {
//   display: flex;
//   align-items: baseline;
//   flex-direction: row;
//   justify-content: space-between;
// }
.contact__text {
  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 86;
  letter-spacing: 0.02em;
  color: $prymary-text-color;
  @media screen and (min-width: 320px) {
    margin-bottom: 55px;
  }
  @media screen and (min-width: 480px) {
    margin-bottom: 65px;
  }
}
.contact__tel {
  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1, 86;
  letter-spacing: 0.02em;
  color: $secondary-text-color;
}
.contact {
  display: flex;
  justify-content: flex-end;
  @media screen and (min-width: 480px) {
    margin-left: 70px;
  }
}
.data__year {
  font-family: $main-font;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 86;
  letter-spacing: 0.02em;
  color: $add-text-color;
}
.footer__end {
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 320px) {
    max-width: 150px;
    margin-bottom: 25px;
  }
  @media screen and (min-width: 480px) {
    max-width: 150px;
    margin-bottom: 25px;
  }
  @media screen and (min-width: 768px) {
    max-width: 376px;
    margin-bottom: 18px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 376px;
    margin-bottom: 18px;
  }
=======


