.section-gallery {
  background-image: linear-gradient(to bottom, $light-section-color 40%, $main-color 40%);
  .grid-wrapper {
    position: relative;
    display: grid;
    flex: wrap;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(10px, 1fr)) repeat(1, minmax(20px, 2fr)) repeat(
        3,
        minmax(10px, 1fr)
      );
    grid-gap: 5px;
  }
  .fix {
    &__divbot {
      position: absolute;
      top: 18%;
      width: 14%;
    }
    &__divtop {
      position: absolute;
      top: 12%;
      width: 14%;
    }
  }
  &__img {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 5px;
    &.z {
      width: 60%;
    }
  }
}
