.section-gallery {
  padding-bottom: 97px;
  @media screen and (min-width: 768px) {
    padding-bottom: 122px;
  }
}
.gallery-container {
  display: flex;
}
.section-gallery {
  background-image: linear-gradient(to bottom, $light-section-color 40%, $main-color 40%);
}
.gallery {
  justify-content: center;
  align-items: center;
  max-width: 288px;

  display: grid;
  gap: 2px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 768px) {
    width: 620px;
    gap: 4px;
  }
  @media screen and (min-width: 1200px) {
    width: 1010px;
    gap: 6px;
  }
}
.gallery__img {
  width: 100%;
}
.gallery__content {
  list-style: none;
  width: 40px;
  height: 40px;
  border-radius: 15%;
  overflow: hidden;
  transition: filter 600ms linear, width 260ms linear, height 260ms linear;
  @media screen and (min-width: 768px) {
    width: 85px;
    height: 85px;
  }
  @media screen and (min-width: 1280px) {
    width: 139px;
    height: 139px;
  }
}
.gallery__content:hover {
  filter: grayscale(1);
  width: 110%;
  height: 110%;
  z-index: 80;
}
.gallery__content:nth-child(1) {
  margin-top: auto;
  margin-bottom: auto;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
.gallery__content:nth-child(2) {
  margin-top: 25px;
  @media screen and (min-width: 768px) {
    margin-top: 45px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 89px;
  }
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.gallery__content:nth-child(3) {
  margin-top: -15px;
  @media screen and (min-width: 768px) {
    margin-top: -45px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: -55px;
  }
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.gallery__content:nth-child(4) {
  margin-top: auto;
  width: 80px;
  height: 80px;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  @media screen and (min-width: 768px) {
    width: 174px;
    height: 174px;
  }
  @media screen and (min-width: 1280px) {
    width: 284px;
    height: 284px;
  }
}

.gallery__content:nth-child(5) {
  margin-bottom: auto;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.gallery__content:nth-child(6) {
  margin-top: 28px;
  @media screen and (min-width: 768px) {
    margin-top: 61px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 100px;
  }
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
}
.gallery__content:nth-child(7) {
  margin-top: -12px;
  @media screen and (min-width: 768px) {
    margin-top: -27px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: -44px;
  }
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
}
.gallery__content:nth-child(8) {
  margin-top: 15px;
  @media screen and (min-width: 768px) {
    margin-top: 34px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 53px;
  }
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
}
.gallery__content:nth-child(9) {
  margin-top: -25px;
  @media screen and (min-width: 768px) {
    margin-top: -55px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: -92px;
  }
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}

.gallery__content:nth-child(10) {
  margin-top: 43px;
  @media screen and (min-width: 768px) {
    margin-top: 95px;
  }
  @media screen and (min-width: 1280px) {
    margin-top: 154px;
  }
  margin-bottom: auto;
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 3;
}
